/* Stylesheet for the 53 redesign 

Colors:
White
Black
Red highlight
Contrast button color #ef57d4

Monteserrat for main titles 
eaves for body text

*/

/* Visualizing the layout */

/* This section is for universal selections and rules */

/* box model Fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* clear Fix */
.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* image rules */
img {
	width: 100%;
}

/* Type Hierarchy */

@font-face {
    font-family: "GT-Super";
    src: url("../GT-Super/GT-Super-Display-Super.woff2");
}

@font-face {
	font-family: "GT-Medium";
	src: url("../GT-Super/GT-Super-Display-Medium.woff2");
}

@font-face {
	font-family: "GT-Light";
	src: url("../GT-Super/GT-Super-Display-Regular.woff2");
}

body {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #ffeae7;
}

h1 {
	font-family: "GT-Super";
	font-size: 60px;
	margin: 1;
	/* we could also use font-size: 4rem; to get the same size. 
	Ultimatley if we were building a site to be completely 
	responsive then we would want to use this but I am going 
	to use my Figma File as a refernce and they use absolute values
	*/
}

h2 {
	font-family: "GT-Super";
	font-size: 36px;
	margin: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8rem;
	margin: 0;
}

h4 {
	font-family: "GT-Super";
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

h5 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins';
}

ul {
	list-style-type: none;
}

.tighten {
	letter-spacing: -0.03em;
}

/* header styles and rules */
header {
	background-color: #153b84;
	color: #fff;
	position: fixed;
	height: 90px;
	z-index: 4;
	font-size: 0.7em;
}

.icon {
	fill:  whitesmoke;
}

header li {
	padding: 3px 1rem 0 1rem;
}

#logo a {
	display: inline-block;
	padding: 1rem;
	max-width: 120px;
	margin-top: 15px;
}

#search {
	display: inline-block;
	border-style: solid;
	border-color: #fff;
	margin-left: 10px;
	padding: 1rem 20px;
	border-radius: 30px;
	width: 310px;
}

#search a {
	line-height: 100px;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 11px;
}
/* styling for the active page. i.e. underline and hover effect */
.undl {
	border-color: #fff;
	border-bottom: 3px solid;
	padding: 3px 1rem 0 1rem;
}
.undl:hover {
	background-color: #fff;
	border-color: #fff;
	border-radius: 30px;
	transition: 0.5s;
}

/* homepage hero styles and rules */

#hero {
	background-image: url("../images/hero1.jpg");
	background-size: cover;
	background-color: red;
	height: 90vh;
}

#hero-chunk {
	width: 400px;
	color: #fff;
	margin-top: 200px;
	margin-left: 100px;
}

#hero h1 {
	padding-bottom: 16px;
}

#hero h5 {
	padding-bottom: 30px;
}

a.CTA {
	background-color: #c2402f;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
}

.CTA:hover {
	background-image: url(../images/Noise-e593fa8d.png);
	background-size: contain;
}

/* homepage mission statemetent styles and rules */
#mission {
	text-align: center;
	color: #161616;
	width: 680px;
	margin: 80px auto;
	margin-bottom: 160px;
}

#mission h2 {
	padding-bottom: 60px;
}

#mission p {
	width: 600px;
	margin: 0 auto;
}

/* Splash graphic 
Its the same as a container-fluid section 
but it doesn't have any content*/ 

#splash {
	width: 100%;
	height: 100vh;
	margin-top: -100px;
	background-image: url("../images/splash.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

/* Homepage product feature styles and rules */
#feature {
	margin-top: -470px;
}

.card-chunk span {
	font-family: "GT-Light";
	font-size: 34px;
}

.card-chunk h2 {
	margin: 50px 0;
}

.card-chunk p {
	margin-bottom: 50px;
}

a.CTAtoo {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
	border-style: solid;
}
a.CTAtoo:hover {
	color: #161616;
	background-color: #fff;
	border-color: #fff;
	transition: 0.5s;
}
#paper {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 720px;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 100px;
	display: grid;
	grid-template-columns: 4fr 1fr 4fr;
	column-gap: 30px;
	overflow: hidden;
}

#pencil {
	background-color: #fff;
	color: #161616;
	width: 95vw;
	height: 720px;
	margin: 0 auto;
	border-radius: 20px;
	padding: 100px;
	display: grid;
	grid-template-columns: 4fr 1fr 4fr;
	column-gap: 30px;
	overflow: hidden;
}

#video {
	background-color: black;
	width: 970px;
	margin: -300px auto;
	border-radius: 20px;
	overflow: hidden;
}

#video video {
	display: block;
	margin: 0 auto;
}

#illust {
	margin-top: -500px;
	height: 570px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#illust h6 {
	font-size: 10px;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: -1;
}

#illust img{
	position: absolute;
	z-index: -2;
}

#product-grid {
	width: 1170px;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

#newsletter {
	height: 20vh;
	margin-top: 40px;
}

#newsletter .row {
	margin-bottom: 30px;
}

#newsletter .btn {
	background-color: none;
}

#newsletter .btn:hover {
	background-color: black;
}

.btn {
	border-radius: 50px;
}

/*********************
About Page styles and rules 
*******************/
/* Styling for Hero image */
#hero2 {
	background-image: url("../images/hero2.jpg");
	background-size: cover;
	background-color: red;
	height: 55vh;
}
/* Who We Are text */
#main {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 7;
	color: #fff;
	padding: 3vh 3vw;
	font-family: "GT-Super";
	font-size: 5rem;
	font-weight: 400;
	line-height: 3rem;
}
#main section {
	display: inline;
	font-family: "GT-Super";
}

/* Styling for the Fixed Hello section on the left */
#hello {
	position: fixed;
	left: 7vw;
	top: 58vh;
	height: 20vh;
	width: 28vw;
	font-family: 'Poppins', sans-serif;
	z-index: 3;
}
#hello section {
	display: inline;
	font-family: "GT-Super";
}

/* Styling for the rest of the content */
div#sixteen {
	position: relative;
	z-index: 1;
}
/* Body for the page. setting background image and sizing */
#content {
	background-image: url(../images/test_bkg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 70px;
}
/* grid sections for the two card sections */
.cssgrid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 1fr);
	height: 80vh;
}
/* two Why Cards and text rules */
#whycard {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 5;
	background-color: #161616;
	border-radius: 3rem;
	color: #fff;
	padding: 3.5vh 3vw;
	overflow: hidden;
	z-index: 2;
}
#whycard h2 {
	margin-bottom: 2vh;
}
#whycard2 {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 7;
	background-color: #c2402f;;
	border-radius: 3rem;
	color: #fff;
	padding: 3vh 3vw;
	padding-top: 13vh;
	overflow: hidden;
	z-index: 1;
}
/* What cards and text styling*/
#whatcard {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: #161616;
	border-radius: 3rem;
	color: #fff;
	padding: 3vh 3vw;
	text-align: left;
	overflow: hidden;
	z-index: 2;
}
#whatcard h2 {
	margin-bottom: 2vh;
}
#whatcard2 {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 8;
	background-color: #c2402f;;
	border-radius: 3rem;
	color: #fff;
	padding: 3vh 3vw;
	padding-top: 15vh;
	text-align: left;
	overflow: hidden;
	z-index: 1;
}
/* styling rules for when page gets large*/
@media screen  and (min-height: 831px) { 
	.cssgrid {
		height: 70vh;
	}

	#whycard2 {
		padding-top: 10vh;
	}

	#whatcard2 {
		grid-row-end: 7;
		padding-top: 10vh;
	}

}

/****************************
 Pencil Page styles and rules
*****************************/
/* Hero Image*/
#hero3 {
	background-image: url("../images/hero-1.jpg");
	background-size: cover;
	background-color: red;
	background-position: -350px 50px;
	height: 75vh;
}
/* Hero Text*/
#peninfo {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 7;
	color: #161616;
	padding: 6vh 3vw;
	font-family: "GT-Super";
	font-size: 5rem;
	font-weight: 400;
	line-height: 3rem;
}
/* Crafted card styling*/
#crafted {
	background-color: #fff;
	color: #161616;
	width: 95vw;
	height: 60vh;
	margin: 0 auto;
	margin-top: 2vh;
	border-radius: 20px;
	padding: 50px 100px;
	display: grid;
	grid-template-columns: 4fr 6fr;
	column-gap: 3vw;
	overflow: hidden;
	z-index: 4;
}
#crafted h2 {
	margin: 6vh 0 2vh;
}
/* Map layout and styling*/
#map {
	background-color: #fff;
	color: #161616;
	width: 95vw;
	height: 94vh;
	margin: 0 auto;
	margin-top: 30vh;
	border-radius: 20px;
	padding: 1rem;
	overflow: hidden;
	z-index: 2;
	position: relative;
}
/* hover effect to move the Over up*/
#map:hover ~ #over{
	transform: translate(0,-50vh);
	transition: 3s;
}
#map h3 {
	color: #161616;
	position: absolute;
	right: 900px;
	bottom: 10px;
	z-index: 3;
}
#map h6 {
	font-size: 10px;
	color: #161616;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: 3;
}
/* Required CSS for the Magnifying Glass code to function */
#myimage {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.img-magnifier-container {
	position:relative;
}
/* Required CSS and styling of the Magnifying glass */
.img-magnifier-glass {
	position: absolute;
	border: 3px solid #c2402f;
	border-radius: 50%;
	cursor: none;
	/*Set the size of the magnifier glass:*/
	width: 200px;
	height: 200px;
}
/* Over card styling and positioning*/
#over {
	background-color: #161616;
	color: #fff;
	width: 85vw;
	height: 720px;
	margin: 0 auto;
	margin-top: -110vh;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 50px 100px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 110px;
	overflow: hidden;
	z-index: 3;
	position: relative;
}
/* Hover effect for text in the Over card*/
#over a:hover{
	color: #c2402f;
}
/* ensure the pencil covers all columns*/
#sidepen {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
}

/* section and spacing for cards below the Map */
div#sixteen2 {
	margin-top: 44vh;
	position: relative;
	z-index: 1;
}

#pointcard {
	padding: 50px;
	overflow: hidden;
}
/* Grid for the final 3 cards */
.pgrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	height: 28vh;
	width: 90vw;
	margin: 0 auto;
	column-gap: 2vw;
}
#point1 {
	grid-column-start: 1;
	background-color: #161616;
	border-radius: 3rem;
	color: #fff;
	padding: 15px;
	text-align: center;
	overflow: hidden;
	background-image: url(../images/backg_Yellow.jpg);
}
#point2 {
	grid-column-start: 2;
	background-color: #fff;
	border-radius: 3rem;
	color: #161616;
	padding: 15px;
	text-align: center;
	overflow: hidden;
}

#point3 {
	grid-column-start: 3;
	background-color: #161616;
	border-radius: 3rem;
	color: #fff;
	padding: 15px;
	text-align: center;
	overflow: hidden;
	background-image: url(../images/backg_Green.jpg);
}
/* Media section for mid sized screens (Laptop sized) */
/* tested on 1496 x 900 px */
@media screen  and (max-height: 996px) {
	#hero3 {
		background-position: -300px 40px;
		height: 75vh;
	} 
	#crafted {
		height: 69vh;
		margin-top: 8vh;
		padding: 30px 80px;
	}
	#crafted h2 {
		margin: 4vh 0 2vh;
	}
	#map {
		width: 95vw;
		height: 99vh;
		margin: 0 auto;
		margin-top: 30vh;
		padding: 1rem;
	}
	#map h3 {
		position: absolute;
		right: 650px;
		bottom: 8px;
	}
	#over {
		margin-top: -123vh;
	}
	div#sixteen2 {
		margin-top: 25vh;
	}
	.pgrid {
		height: 42vh;
	}

}
/* media section for "smaller" sized screens */
/* tested on 1496 x 666 px */
@media screen  and (max-height: 700px) {
	#hero3 {
		background-position: -200px 50px;
		height: 75vh;
	} 
	#crafted {
		height: 69vh;
		margin: 0 auto;
		margin-top: 4vh;
		padding: 0 100px;
	}
	#crafted h2 {
		margin-top: 4vh;
	}
	#crafted img {
		margin-top: 4vh;
	}
	#map {
		height: 108vh;
		margin-top: 30vh;
		padding: 1.2rem;
	}
	#map h3 {
		position: absolute;
		right: 600px;
		bottom: 8px;
	}
	#map h6 {
		font-size: 12px;
	}
	#over {
		height: 520px;
		padding: 10px 70px;
		margin-top: -130vh;
		column-gap: 30px;
	}
	#over h2 {
		margin: 10px 0;
	}
	#over p {
		margin: 5px;
	}
	div#sixteen2 {
		margin-top: 52vh;
	}
	.pgrid {
		height: 48vh;
	}
}


/* Footer styles and rules */

footer {
	background-color: #161616;
	border-radius: 125px 125px 0px 0px;
	color: #fff;
	position: relative;
	z-index: 4;
}

footer h4 {
	padding: 2rem;
	font-family: "GT-Light";
}

#partners {
	text-align: center;
	color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 0 5%;
}

#partners ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer li {
	text-align: center;
	font-family: 'Poppins';
	font-size: 14px;
	padding-bottom: 15px;
}

#foot-links {
	margin-top: 40px;
}

#foot-links li:first-child {
	font-weight: 600;
	padding-bottom: 30px;
}

#foot-links ul {
	display: flex;
	flex-direction: column;
}

#foot-links li {
	text-align: left;
}

#foot-links img {
	max-width: 70px;
}

#socials {
	display: flex;
	flex-direction: row;
}

#legal {
	text-align: right;
}

#legal span {
	margin-left: 30px;
}

#bottom {
	justify-content: space-between;
	font-size: 12px;
	margin-top: 40px;
	color: antiquewhite;
}
